.flex{
    width: 15%;
      padding: 10px;
      height: 30rem;
      display: inline-flex;
      margin: 10px;
      flex-direction: row;
      align-content: stretch;
      justify-content: center;
      flex-wrap: wrap;
      border: 1px solid #282c34;
  }